/* Reset CSS */

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
  animation: 0.5s;
}

/* Style header and navigation */
header {
  width: 100%;
  background-color: #333;
  color: #eac696;
  position: fixed;
  z-index: 999;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin-left: 30px;
  padding: 0.3em;
}

nav ul li {
  margin-right: 1em;
}

nav ul li img {
  height: 50px;
}

nav ul li a:hover {
  color: yellow;
  cursor: pointer;
  box-shadow: none;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Style sections */
section {
  padding: 20px;
}

section h1,
section h2,
section h3 {
  color: #333;
}

/* Style footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

#welcome {
  margin: 0;
  padding: 0;
  background-image: url(img/background-about.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;

  justify-content: center;
  gap: 100px;
}

#welcome .name {
  float: left;
  display: block;
  width: 50%;
}

#welcome .name p {
  color: #fff;
  font-size: medium;
  font-size: 80px;
  text-align: right;
}

#typewriter-text {
  overflow: hidden; /* Agar teks tidak terlihat saat dimulai */
  border-right: 1px solid #000;
  white-space: nowrap; /* Agar teks tidak mematahkan baris */
  margin: 0 auto;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  z-index: 999;
  font-size: 50px;
  text-align: right;
}

#welcome .profile {
  float: right;
  width: 50%;
  align-items: center;
}
.profile img {
  width: 400px;
  height: auto;
  border-radius: 50%;
}

#about {
  margin: 5px;
  text-align: justify;
  font-size: medium;
}

h2 {
  text-align: center;
}

/* Gaya CSS untuk gambar yang diinginkan */
.image-container {
  width: 300px;
  height: 200px;
  overflow: hidden; /* Untuk memotong gambar yang tidak sesuai */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Memotong gambar sesuai proporsinya */
}

#education {
  text-align: center;
  margin: 10px;
  justify-content: center;
  gap: 10px;
  background-color: #eaeaea;
}

#education .sekolah ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.sekolah ul li {
  padding: 20px;
  border-radius: 5%;
  text-decoration: none;
  list-style: none;
  background-color: #eac696;
}
.sekolah {
  display: inline-flex;
}

.image-container {
  width: 200px;
  height: 150px;
  overflow: hidden; /* Untuk memotong gambar yang tidak sesuai */
}

.image-container img {
  border-radius: 5%;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Memotong gambar sesuai proporsinya */
}

.project-container ul {
  text-align: center;
  justify-content: center;
}

.project-container ul li {
  margin: auto;
  display: block;
  text-decoration: none;
  padding: 10px;
  background-color: #eac696;
  margin-bottom: 10px;
  width: 400px;
  text-align: center;
  border-radius: 10px;
}

.sekolah ul li:hover,
.project-container ul li:hover {
  background-color: #fff2d8;
}

.project-container ul li a {
  text-decoration: none;
}

#pengalaman {
  background-color: #eaeaea;
}

#pengalaman ul {
  display: flex;
  margin: auto;
  gap: 2%;
}

#pengalaman ul li {
  list-style: none;
}

#pengalaman ul li img {
  width: 100%;
  border-radius: 10%;
  animation: 0.5s;
}

#pengalaman ul li img:hover {
  scale: 1.2;
  animation: 1s;
}

#achievement {
  position: relative;
  display: block;
}

#achievement ul {
  display: block;
  list-style: none;
  height: auto;
}

#achievement ul li {
  width: calc(33.33% - 10px);
  height: 200px;
  margin-right: 10px;
  float: left;
  background-color: #eac696;
}

#achievement ul li img {
  max-width: 100%;
}

#gallery {
  margin-top: 700px;
  background-color: #eaeaea;
}

#contact {
  display: block;
  justify-content: center;
}

#contact form {
  display: block;
  width: 50%;
  margin: auto;
  background-color: #eac696;
  padding: 30px;
  border-radius: 30px;
}

label {
  float: left;
  width: 100%;
  padding: 10px;
  padding-left: 0;
}

input {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  border: 1px solid black;
}
ul li {
  list-style: none;
}

textarea {
  width: 100%;
  border-radius: 10px;
  border: 1px solid black;
}

button {
  margin: auto;
  cursor: pointer;
}

.medsos {
  width: 100%;
  margin: auto;
}

.medsos ul {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.medsos ul li a img {
  width: 30px;
  padding-top: 20px;
}

/* CSS untuk elemen tanda panah */
.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #eac696;
  color: #000;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 24px;
  z-index: 9999;
}

/* CSS untuk mengatur tampilan elemen tanda panah saat muncul */
.scroll-to-top.active {
  display: block;
}

/* CSS Responsif */
@media screen and (max-width: 768px) {
  #welcome {
    position: relative;
    top: 50px;
    justify-content: center;
    background-size: 100%;
    width: 100%;
    height: 100%;
    padding: 20px;
    gap: 40px;
  }

  #welcome {
    top: 50px;
  }

  #welcome .name {
    position: relative;
    margin-left: 50px;
  }
  #welcome .name p {
    font-size: 36px;
  }

  #typewriter-text {
    font-size: 18px;
  }

  .profile img {
    margin-right: 50px;
    position: relative;
    justify-content: center;
    max-width: 50%;
    height: auto;
    border-radius: 50%;
  }

  #achievement ul li {
    height: 100px;
  }

  #gallery {
    position: relative;
    margin-top: 330px;
  }
}
