/* Reset CSS */

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #eac696;
  --font: #333;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--font);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--font);
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3.5rem;
  animation: 0.5s;
}

h2 {
  text-align: center;
  padding: 0;
  margin: 2em 0 2em 0;
}

/* Style header and navigation */
header {
  width: 100%;
  color: var(--primary-color);
  position: fixed;
  z-index: 9999;
  display: block;
  top: 0;
  transition: background-color 0.3s;
  opacity: 1;
}

.navbar.scrolled {
  background-color: rgba(000, 000, 000, 0.7);
}

.navbar {
  background-color: transparent;
}

header nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin-left: 30px;
  padding: 0.3em;
}

header nav ul li {
  margin-right: 1em;
  align-items: center;
  cursor: pointer;
}

header nav ul li img {
  height: 40px;
  object-fit: contain;
}

header nav ul li a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-weight: 100;
}

header nav ul li a:hover {
  color: yellow;
  box-shadow: none;
}

header nav ul li a::before {
  content: "";
  position: absolute;
  background-color: yellow;
  width: 0;
  height: 2px;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out;
}

header nav ul li a:hover::before {
  width: 100%;
}

.icon-navbar {
  display: none;
  opacity: 0;
}

section {
  padding: 20px;
  overflow: hidden;
}

section h1,
section h2,
section h3 {
  color: var(--font);
}

#welcome,
#education,
#pengalaman,
#contact {
  background-image: url(../img/background-about.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

#welcome {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

#welcome .name {
  float: left;
  display: block;
  width: 50%;
}

#welcome .name p {
  color: #fff;
  font-size: 80px;
  text-align: right;
}

#typewriter-text {
  overflow: hidden;
  border-right: 1px solid #000;
  white-space: nowrap;
  margin: 0 auto;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
  z-index: 999;
  font-size: 50px;
  text-align: right;
}

#welcome .profile {
  float: right;
  width: 50%;
  align-items: center;
  animation-delay: 1s;
}

@keyframes bounce {
  0% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0);
  }
}

.profile img {
  width: 400px;
  height: auto;
  border-radius: 50%;
  animation: bounce 2.3s infinite alternate;
}

#about {
  text-align: justify;
  font-size: medium;
  margin: 0 3em 3em 3em;
  overflow: hidden;
}

#about .deskripsi {
  display: flex;
  gap: 2em;
  box-sizing: border-box;
}

#about .deskripsi p {
  line-height: 2em;
}

.image-container {
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#education {
  text-align: center;
  justify-content: center;
  gap: 10px;
  height: 100vh;
}

#education h2 {
  color: white;
}

#education .sekolah ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}

#education .sekolah ul li {
  padding: 20px;
  border-radius: 5%;
  background-color: var(--primary-color);
}

#education .sekolah ul li:hover {
  scale: 1.1;
  animation: alternate 1s;
}

.image-container {
  width: 200px;
  height: 150px;
  overflow: hidden;
}

.image-container img {
  border-radius: 5%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#project {
  display: block;
  padding: 0 calc(100% - 80%) 50px calc(100% - 80%);
}

.accordion {
  background-color: var(--primary-color);
  color: var(--font);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion:after {
  content: "\02795";
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}

.active,
.accordion:hover {
  background-color: var(--font);
  color: var(--primary-color);
}

.panel {
  padding: 20px 20px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.panel p,
.panel ul li {
  font-family: "Courier New", Courier, monospace;
  text-align: justify;
  line-height: 1.3em;
}

.panel a {
  display: block;
  text-align: center;
  width: 10%;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--font);
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 10px;
  margin: 8px 0 8px;
}

.panel a:hover {
  background-color: var(--font);
  color: var(--primary-color);
}

.sekolah ul li:hover,
.project-container ul li:hover {
  background-color: var(--primary-color);
}

.project-container ul li a {
  text-decoration: none;
}

#pengalaman {
  padding-bottom: 100px;
}

#pengalaman h2 {
  color: white;
}

#pengalaman .pengalaman-slider {
  display: flex;
  gap: 40px;
  width: 80%;
  margin: 0 auto;
}

#pengalaman .pengalaman-slider div {
  padding-right: 20px;
}

#pengalaman img {
  width: 100%;
}

#achievement {
  position: relative;
  display: block;
  padding: 0 80px 50px;
}

#achievement .achievement-slider {
  display: flex;
  gap: 40px;
  width: 70%;
  margin: 0 auto;
}

#achievement .achievement-content {
  display: flex;
  gap: 40px;
  justify-content: center;
}

#achievement .achievement-slider div {
  height: 100%;
}

#achievement .achievement-slider img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
#achievement .achievement-content div .deskripsi {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

#contact {
  display: block;
  justify-content: center;
}

#contact h2 {
  color: white;
}

#contact form {
  display: block;
  width: 50%;
  margin: auto;
  background-color: var(--primary-color);
  padding: 30px;
  border-radius: 30px;
}

label {
  float: left;
  width: 100%;
  padding: 10px;
  padding-left: 0;
  font-weight: 200;
}

input {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  border: 1px solid var(--font);
}

textarea {
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--font);
}

button {
  display: block;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  margin: 10px auto;
  color: var(--font);
  background-color: white;
}

button:hover {
  background-color: var(--font);
  color: white;
}

.medsos {
  width: 100%;
  margin: auto;
}

.medsos ul {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.medsos ul li a img {
  width: 30px;
  padding-top: 20px;
}

li a {
  text-decoration: none;
}

.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: var(--primary-color);
  color: var(--font);
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 24px;
  z-index: 9999;
  animation: bounce 2.3s infinite alternate;
}

.scroll-to-top:hover {
  background-color: var(--font);
  color: var(--primary-color);
}

.scroll-to-top.active-scroll {
  display: block;
}

footer {
  background-color: var(--font);
  color: var(--primary-color);
  text-align: center;
  padding: 10px;
}
